[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name[ja]=アプリケーションファインダー
Name=Application Finder
Comment[ja]=システムにインストールされたアプリケーションの検索および起動を行います
Comment=Find and launch applications installed on your system
Keywords[ja]=プログラム;アプリケーション;ブックマーク;
Keywords=program;applications;bookmarks;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
