[Desktop Entry]
Version=1.0
Type=Application
Name=LibreCAD
GenericName=CAD system
GenericName[ja]=コンピュータ支援設計 (CAD) システム
Comment=A professional CAD System
Comment[ja]=プロフェッショナル CAD システム
TryExec=librecad
Exec=librecad %F
Icon=librecad
Categories=Graphics;Engineering;
MimeType=image/vnd.dxf;
Keywords=design;CAD;diagrams;graphics
X-XFCE-Source=file:///usr/share/applications/librecad.desktop
