[Desktop Entry]
Version=1.0
Type=Application
Name=Scratch
Comment=Create stories, games, and animations
Comment[ja]=プログラミングでゲームやアニメを作ろう
Exec=x-www-browser https://scratch.mit.edu/
Icon=radepi-menu
Terminal=false
StartupNotify=false
Categories=Education;
X-XFCE-Source=file:///usr/share/applications/scratch.desktop
