[Desktop Entry]
Name[ja]=Bluetooth マネージャー
Name=Bluetooth Manager
Comment[ja]=Blueman Bluetooth マネージャー
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=blueman-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;HardwareSettings;
X-XFCE-Source=file:///usr/share/applications/blueman-manager.desktop
