[Desktop Entry]
Version=1.0
Type=Application
Name=CNCjs
Comment[ja]=高機能CNCコントローラー
Comment=High-performance CNC controller
Exec=sh -c 'x-terminal-emulator -e cncjs & sleep 3 && x-www-browser http://localhost:8000'
Icon=cncjs-icon
Terminal=false
Categories=Engineering;
X-XFCE-Source=file:///home/radepi/Desktop/cncjs.desktop
