[Desktop Entry]
Version=1.0
Type=Application
Name=Meerk40t
Comment=Powerful laser cutter control software
Comment[ja]=強力なレーザーカッター制御ソフト
Exec=/opt/meerk40t-env/bin/meerk40t
Icon=meerk40t-icon
Terminal=false
Categories=Engineering;
X-XFCE-Source=file:///home/radepi/Desktop/meerk40t.desktop
