[Desktop Entry]
Name=Audacity
GenericName=Sound Editor
GenericName[ja]=音声編集ソフト
Comment=Record and edit audio files
Comment[ja]=音声ファイルの録音と編集
Icon=audacity
StartupWMClass=Audacity
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Keywords=sound;music editing;voice channel;frequency;modulation;audio trim;clipping;noise reduction;multi track audio editor;edit;mixing;WAV;AIFF;FLAC;MP2;MP3;
Exec=env GDK_BACKEND=x11 audacity %F
StartupNotify=false
Terminal=false
MimeType=application/x-audacity-project;application/x-audacity-project+sqlite3;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;
X-XFCE-Source=file:///usr/share/applications/audacity.desktop
