[Desktop Entry]
Version=1.0
Type=Application
Name=UVtools
Comment=MSLA/DLP file analysis, repair and optimization tool
Comment[ja]=光造形3Dプリンター用 スライスデータ最適化・修正ツール
Exec=/opt/uvtools/UVtools
Icon=utilities-system-monitor
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
X-XFCE-Source=file:///usr/share/applications/uvtools.desktop
